@import '../../common.less';

.container {
  padding: 16/@rem 16/@rem 60/@rem;
}

.title {
  line-height: 52/@rem;
  font-size: 32/@rem;
}

.visit, .back {
  line-height: 52/@rem;
  font-size: 32/@rem;
}

.split-line {
  margin-top: 30/@rem;
  margin-bottom: 30/@rem;
  height: 4/@rem;
  background-color: @color-42b983;
}

.product-list {
  margin-top: 40/@rem;

  .product-row {
    display: flex;

    .product-r-item1, .product-r-item2 {
      width: 60/@rem;
      line-height: 52/@rem;
      font-size: 32/@rem;
    }

    .product-r-item2 {
      flex-grow: 1;
    }
  }
}